.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.form-wrapper{
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  color: #000000;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  color-scheme: light;
}

.error{
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px
}

.login-logo{
  display: block;
  max-width: 100%;
  height: 150px;
  margin: 0 auto 20px auto;
  object-fit: contain;
}

h2{
  text-align: center;
  margin-bottom: 30px;
  color: #000;
}

.form-group{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label{
  display: block;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
  color: #000;
}

input[type="email"],
input[type="password"]{
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  border: 1px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: white;
  color: black;
  outline:auto;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: gray; /* Darker placeholder */
}

input[type="email"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: #305CDE; /* Blue border on focus */
  color: black;
  outline:auto;
}

input[type=submit] {
    width: 100%;
    max-width: 400px;
    background-color: #305CDE;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=email]:disabled, input[type=password]:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    color: #999;
}
  
input[type=submit] {
  width: 100%;
  background-color: #305CDE;
  color: white;
  padding: 14px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

input[type=submit]:hover:not(:disabled) {
  background-color: #182E6F;
  
}

input[type=submit]:disabled {
  background-color: #000435;
  cursor: not-allowed;
  color: #666
}